.image {
    object-fit: cover;
    aspect-ratio: 10/16;
    animation: fade 0.2s ease-in-out;
}

.image.br {
    aspect-ratio: 16/10;
}

@keyframes fade {
    from {
        filter: blur(2px);
        opacity: 0;
    }
    to {
        filter: blur(0);
        opacity: 1;
    }
}
