@keyframes ldio-l50rxptks9 {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.loadingWrap {
    width: 100%;
    text-align: center;
}

.ldio-l50rxptks9 div {
    animation: ldio-l50rxptks9 1s linear infinite;
    border-radius: 50%;
}
.loadingio-spinner-eclipse-yfwtxy6yoge {
    display: block;
    margin: auto;
    width: 100%;
    overflow: hidden;
    background: transparent;
}
.ldio-l50rxptks9 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.ldio-l50rxptks9 div {
    box-sizing: content-box;
}
